
body {
  margin: 0 auto;
  
  
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
  align-items: center;
  padding: 92px 49px 94px 51px;
}
.menu {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2em;
  list-style: circle;
}

.menu li {
  
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.logo {
  width: 135px;
  height: 105px;
}
.menu li:first-child {
  margin-left: 0; 
  list-style: none;
}
address {
  display: block;
  max-width: 240px;
  max-height: 109px;
  font-style: normal;
}
.header-address {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: auto;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  text-underline-offset: 4px;
}

/* заголовок и cover*/
h1 {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
  line-height: 115%; /* 115px */
}
.cover {
  position: relative;
  z-index: -1;
  text-align: center;
  margin: 0;
  padding: 0;
}
.cover-img {
  background-color: #000;
  background-image: url("../images/cover.jpg");
  background-size: cover;
}
.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}

.cover-txt {
  display: block;
  padding: 165px 49px 135px 51px;
  line-height: 1.5;
}
.cover-txt-word {
  display: block;
}

.letter-spacing {
  letter-spacing: 0.6em;
}
.last-letter {
  letter-spacing: 0;
}
.word-first {
  text-align: left;
}
.word-second {
  padding-right: 0.6em;
  line-height: 1.4;
  text-align: center;
}
.word-third {
  line-height: 1;
  text-align: right;
}
.cover-txt {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.cover-txt-bottom {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  gap: 3.65em;
  align-items: center;
  box-sizing: border-box;
  padding-right: 50px;
  padding-bottom: 49px;
  
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
}
.auction-description {
  word-spacing: 0.8em;
}

.cover-button {
  
  display: inline-block;
  border: 1px solid #fff;
  padding: 12px 31px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal; 
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

h2 {
font-size: 40px;
font-weight: 700;
text-transform: uppercase;

}

.lots h2 {
  padding-left: 90px;
  padding-bottom: 27px;
}
.lots {
  padding-top: 180px;
  max-width: 1440px;
}

.lots ul {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  list-style: none;
  gap: 25px;
}
.lots li {
  min-width: 430px;
  min-height: 450px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  z-index: 1;
  flex-wrap: wrap;
}
.lot-links {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  position: relative;
  padding: 50px 40px;
  
}

.lot-first {
  background-image: url("../images/card-lot-01.jpg");
  background-size: contain;
  flex-grow: 1;
}

.lot-second {
  background-image: url("../images/card-lot-02.jpg");
  background-size: contain;
}

.lot-third {
  background-image: url("../images/card-lot-03.jpg");
  background-size: contain;
}

h3 {
  flex: 0 0 auto;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.lot-content {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
  position: relative;
  z-index: 1;
}
.lot-links-bottom {
  font-size: 20px;
  font-weight: 400;
  padding-top: 90px;
  padding-left: 40px;
}
/*
.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  justify-content: center;
  align-self: center;
  justify-items: center;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1440px;
}

.about-txt {
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  justify-self: center;
}

.about-txt h2 {
padding-top: 100px;
padding-bottom: 75px;
}

.logo-white {
  width: 148px;
  height: 114px;
  flex-shrink: 0;
}

.logo-background {
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;

}
*/